 /* Mobile Version */
@media (max-width: 767px) {
  
  .navbar-brand {
    margin-right: auto; 
  }

  .navbar-nav {
      flex-direction: column;
      align-items: center;
      margin-left: auto;
  }
      
    .btn-read-blog {
      display: none;
    }

    .hero-content h1 {
      font-size: 18px; 
    }

    .hero-content p {
      font-size: 14px;
    }

    .social-icon img {
      width: 50px;
      border: 1px solid #ffcccc;
    }
    
}

 /* Homepage */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  margin-top: 20px;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff; 
  padding: 10px;
  box-sizing: border-box;
  z-index: 1000; 
  font-family: 'sans-serif', sans-serif !important;
}

.navbar-brand img {
  width: 100px; 
  height: auto;
  margin-left: 50px !important;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.btn-read-blog {
  background-color: #df1621; 
  color: #fff !important;
  margin-right: 10px; 
  margin-left: 40px !important;
  padding: 10px 20px;
  border-radius: 5px; 
  text-decoration: none
}

.btn-read-blog:hover {
  color: #fff !important; 
}

.navbar a:hover {
  color: #df1621; 
}

.navbar-nav .nav-item:hover .dropdown-menu a {
  color: black;
}

.gsc-clear-button {
  display: none !important;
}

.gcse-search {
  margin-top: 0; 
  margin: 0;
}

.gsc-search-button {
  display: inline-block !important;
  width: 50px; 
  height: 50px; 
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.gsc-input {
  width: 40%; 
  padding: 0;
  border: none;
  margin: 0;
  height: auto;
  background: none; 
}

.hero-video {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(13, 31, 13);
  z-index: 2
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  margin-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
}

.button-cta .button-cta__text {
  display: inline-block;
  padding-left: 10px;
  padding-right: 40px;
  color: #df1621;
  font-family: "hk_grotesksemibold", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding: 10px 20px;
  background-color: transparent; 
  border: 2px solid #df1621;
  border-radius: 5px; 
  text-decoration: none; 
}

.button-cta .button-cta__text:hover {
  background-color: #df1621; 
  color: #fff; 
}

.social-links-container {
  background-color: transparent; 
  padding: 10px;
  padding-left: 50px; 
  border-radius: 10px; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.social-icon {
  margin-right: 50px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.social-icon img {
  width: 80px;
  height: auto;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  border: 2px solid #ffcccc10;
}

.social-icon:hover,
.social-icon img:hover {
  transform: scale(1.2);
}

 /* About Page */

 .about-page {
   overflow-y: scroll;
}

.container-about-page {
  margin-left: 80px; 
  margin-right: 80px; 
}


.col-md-6 h1 {
  text-align: left;
  margin-bottom: 20px;
  color: #df1621; 
  font-family: 'Amiri', serif;
  font-size: 4rem; 
  font-weight: bold;
}


.text-shine:hover {
  background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  background-clip: text; 
  color: transparent;
  animation: rainbowShine 1.5s linear infinite;
}

@keyframes rainbowShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.col-md-6 h3 {
  margin-top: -30px !important; 
}

.col-md-6 p {
  margin-right: 40px;
}

.nav-pills .nav-link {
  color: #000;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
  background-color: #df1621;
  color: #fff;
  transform: translate(5px, 0) scale(1.05);
}

.nav-pills .nav-link.active {
  background-color: #df1621;
  color: #fff; 
  transform: translate(5px, 0) scale(1.05); 
}

.hover-container a {
  text-decoration: none;
  color: #df1621;
}

.hover-container {
  position: relative;
  display: inline-block;
}

.hover-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hover-container:hover .hover-content {
  visibility: visible;
  opacity: 1;
}

.hot-pink-link a {
  color: #e307bf;
  text-decoration: none; 
}

.hot-pink-link strong {
  font-weight: bold; 
}

.card:hover {
  background-color: #ffcccc; 
}

.hover-container2 {
  position: relative;
  display: inline-block;
}

.hover-content2 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hover-container2:hover .hover-content2 {
  visibility: visible;
  opacity: 1;
}

.hover-container2 a {
  text-decoration: none;
  color: black;
}

.carousel-control-icon-container {
  background-color: #df1621; 
  padding: 5px; 
  border-radius: 50%; 
}
