/* Global Styles */

.brand-logo {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Dark Mode */
body.dark-mode {
    background-color: #000;
    color: #fff;
}

body.dark-mode .custom-th {
    color: #fff;
}

/* Light Mode */
body.light-mode {
    background-color: #fff;
    color: #000;
}

nav.navbar {
    background-color: #000 !important;
    color: #fff !important;
}

/* Connecting Galaxies effect */
.text-shine:hover {
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    animation: rainbowShine 3s linear infinite;
  }

  @keyframes rainbowShine {
    0% {
      background-position: 200% 50%;
    }
    100% {
      background-position: -100% 50%;
    }
  }


/* No text decoration on anchor links */
footer a {
    text-decoration: none;

}

.social-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  margin: 0 10px; /* Adjust margin as needed */
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.social-icon img {
  width: 80px; /* Adjust width as needed */
  height: auto;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  border: 2px solid #ffcccc10;
}

.social-icon:hover,
.social-icon img:hover {
  transform: scale(1.2);
}
