/* Global Styles */

.brand-logo {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Dark Mode */
body.dark-mode {
    background-color: #000;
    color: #fff;
}

body.dark-mode .custom-th {
    color: #fff;
}

/* Light Mode */
body.light-mode {
    background-color: #fff;
    color: #000;
}

nav.navbar {
    background-color: #000 !important;
    color: #fff !important;
}

/* Connecting Galaxies effect */
.text-shine:hover {
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    animation: rainbowShine 3s linear infinite;
  }

  @keyframes rainbowShine {
    0% {
      background-position: 200% 50%;
    }
    100% {
      background-position: -100% 50%;
    }
  }


/* No text decoration on anchor links */
footer a {
    text-decoration: none;

}

.social-icon img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  border: 2px solid #fff; /* Add a border with a color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.social-icon {
  margin: 0 15px; /* Adjust margin as needed */
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  display: inline-block; /* Prevent line breaks between icons */
}

.social-icon:hover,
.social-icon img:hover {
  transform: scale(1.2);
  border-color: #ffcccc; /* Change border color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
}

.text-muted {
  font-size: 14px;
  color: #666; /* Change text color */
}

p {
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Change text color */
}

